/*          GLOBAL           */


/*          GLOBAL           */

/* Import Poppins font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap');

/* Apply Poppins to the body */
body {
  font-family: 'Poppins', sans-serif;
  color: #333;
  line-height: 1.6;
}

/* Style for the navigation bar */
.navbar {
  display: flex;
  justify-content: space-between; /* Space out the logo and buttons */
  align-items: center;
  background-color: #bc9e6a;
  padding: 10px 20px;
}

/* Left side of the nav bar (Logo/Website Name) */
.navbar-left {
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
}

/* Link for the logo */
.navbar-logo {
  text-decoration: none;
  color: white;
  font-family: 'Playfair Display', serif; 
  font-size: 2.5rem;
  letter-spacing: 1px;
  font-weight: 700;
  padding-left: 10px;
}

/* Right side buttons */
.nav-buttons {
  display: flex;
  gap: 10px;
}

.nav-button {
  color: white;
  text-decoration: none;
  padding: 10px 20px;
  background-color: #60495A;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.nav-button:hover {
  background-color: #3f2f3b;
}

/*          HOME PAGE           */


/*          HOME PAGE           */

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
  padding-top: 20px;
}

.search-input {
  width: 50%;
  padding: 10px;
  margin: 10px 0;
  border-radius: 10px;
  font-size: 16px;
}

.search-button {
  width: 30%;
  padding: 8px 10px;
  border-radius: 5px; 
  font-size: 14px; 
  background-color: #FFF; 
  color: black; 
  transition: background-color 0.3s, color 0.3s;
  cursor: pointer;
}

.search-input:focus {
  outline: none;
  border: 2px solid #bc9e6a;
}

.search-button:hover {
  background-color: #60495A;
  color: white;
}

.results-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.card {
  width: 200px;
  box-shadow: 0 4px 8px rgba(0,0,0,0.1);
  padding: 10px;
  border-radius: 10px;
  background-color: #fff;
  text-align: center;
  border: 1px solid black;
  margin-bottom: 20px;
}

.product-image {
  width: 100%;
  height: 200px; 
  object-fit: cover; 
  border-radius: 8px; 
}

.card h4 {
  margin: 10px 0;
  color: #333;
}

.card p {
  color: #666;
}

.card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  cursor: pointer;
}

/*          PRODUCT PAGE           */


/*          PRODUCT INFO           */


.product-container {
  display: flex;
  padding: 20px 40px;
  flex-direction: column;
  align-items: center;
}

.product-img {
  max-width: 300px;
}

.product-img img {
  width: 100%;
  height: auto;
}

.product-info {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
}

.product-info > * {
  width: 100%;
}

.product-head {
  margin-bottom: 25px;
}

.product-head > * {
  margin: 0px;
}

.product-head > p {
  font-weight: bold;
}

.product-head > p:nth-of-type(2) {
  font-weight: 200;
}

hr {
  border-top: solid lightgray 1px;
  margin: 0px;
}

.product-tags {
  margin: 15px 0px;
}
.product-tags span {
  display: inline-block;
  border: solid lightgray 1px;
  padding: 2px 8px;
  margin: 4px;
  font-size: 12px;
}

.product-descr {
  padding: 15px 0px;
}

.collections-popup {
  background: #bc9e6a;
  color: white;
  border-radius: 30px;
  width: 80%;
  max-height: min-content;
  margin: auto;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100%;
  z-index: 1;
}

.collection {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px;
}


.collection > img {
  width: 60px;
  height: 60px;
  object-fit: cover;
  border-radius: 10px;
}

.popup-head > h4{
  margin: 0;
}

#add-review-button, #sort-reviews {
  margin: 0px;
  width: auto;
  align-self: center;
}

.add-review-popup {
  background: #bc9e6a;
  color: white;
  border-radius: 30px;
  width: 80%;
  max-height: min-content;
  margin: auto;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100%;
  z-index: 1;
}

.popup-head {
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

#add-review {
  margin: 15px;
}

#review-input {
  width: 80%;
  height: 100px;
  margin-bottom: 20px;
}

textarea {
  resize: vertical; 
  max-height: 200px;
  width: 100%;
}

#add-to-collection {
  margin-bottom: 20px;
  width: auto;
  align-self: center;
}



.product-reviews-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px;
  margin-top: 0px;
}

h3 {
  margin: 0px;
}

.filter-overlay {
  background-color: #333;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 50%;
  z-index: 0;
}

.filter-popup {
  background: #bc9e6a;
  color: white;
  border-radius: 30px;
  width: 80%;
  max-height: min-content;
  margin: auto;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100%;
  z-index: 1;
}

.filter-popup > div{
  display: flex;
  justify-content: space-between;
  padding-top: 15px;
}

.filter-popup > div > h4{
  margin: 0;
}

.review-text {
  margin: 15px 0px;
}

.review-text > * {
  margin: 0px;
}

.review-btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.helpful {
  display: flex;
}

.like-btn {
  background: none;
  border: none;
  font-size: 16px;;
}

.like-btn > div > * {
  padding: 3px;
}

.comments-toggle {
  max-height: 20px;
}

/* .product-info > div {
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 20px;
} */

/* 
.product-container {
  display: flex;
  padding: 0 40px;
  justify-content: space-around;
} 
  
.product-descr {
  border: solid lightgray 1px;
  border-radius: 10px;
}
*/


/* hr {
  margin: 10px 0px 30px 0px;
  border-top: solid lightgray 1px;
} */

#product-reviews {
  display: flex;
  flex-direction: column;
  padding: 0px 40px;
}

.review {
  padding: 0px;
  border: solid lightgray 1px;
  border-radius: 10px;
}

.review > * {
  padding: 0px 15px;
}

.review-head {
  display: flex;
  justify-content: space-between;
}

.review-head p {
  margin: 20px 5px;
  text-align: end;
}

.clicked { 
  color: #bc9e6a; 
} 

.date {
  color: gray;
}

.date > p {
  margin: 0px; 
}

.comments {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 10px;
}

.comment {
  padding-left: 15px;
  border-left: 3px solid lightgray;
  margin-left: 10px;
  margin-bottom: 15px;
}

.comment-head {
  display: flex;
  justify-content: space-between;
  padding-top: 5px;
}

.comment-head p {
  margin: 20px 5px;
  text-align:end;
}

#product-reviews h3 {
  margin-top: 30px 0px 0px 0px;
}

.reply-box {
  margin: 10px;
  margin-bottom: 15px;
}

.reply-box input {
  width: 100%;
}
/* #60495A
#3f2f3b */

/* .App {
  text-align: center;
} */

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

/* @media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
} */

/* .App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
} */

/* .App-link {
  color: #61dafb;
} */

/* @keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

/*          UPLOADPRODUCT PAGE           */


/*          UPLOADPRODUCT PAGE           */
#pcontainer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 50%;
  margin: 20px auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.15); 
  border-radius: 10px;
}

.prod-input {
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ccc;  
  width: 100%; 
  box-sizing: border-box; 
}

.prod-input:focus {
  outline: none;
  border: 2px solid #bc9e6a;
}

#buttondiv {
  display: flex;
  justify-content: space-around;
  width: 100%; 
  margin-top: 20px; 
}

#uploadProductButton, #add-to-collection, #add-review-button, #sort-reviews {
  padding: 10px 20px; 
  font-size: 16px;
  background-color: #fff; 
  color: #333; 
  border: 2px solid #60495A;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
}

#uploadProductButton:hover, #add-to-collection:hover, #add-review-button:hover, #sort-reviews:hover {
  background-color: #60495A;
  color: white; 
  border-color: #60495A; 
}


/*          PROFILE PAGE           */

.profile h2 {
  display: flex;
  justify-content: center;
}

.profile h3 {
  padding: 10px 20px;
}

.collections {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}


.goBack {
  text-decoration: none;
}

.collection-add-info {
  margin: 10px 20px;
}

.collectionDescription p{
  margin: 0px 20px;
  font-size: 14px;
}

.collection-grid {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 45px;
  margin: 20px 20px 30px;
}

.collection-card {
  height: 400px;
  width: 300px;
  text-align: center;
  border-width: 1px;
  border-style: solid;
  border-radius: 10px;
  padding: 15px;
}

.collection-card img{
  height: 300px;
  width: 300px;
  object-fit: contain;
}

.collection-card p {
  color: #666;
}

.collection-card:hover {
  box-shadow: 0 8px 16px rgba(0,0,0,0.2);
  cursor: pointer;
}

.profile-head {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  margin: 10px 20px;
}

.profile-head h3 {
  padding: 0px;
}

a {
  text-decoration: none;
  color: #333;
}

.create-collections-popup {
  background: #bc9e6a;
  color: white;
  border-radius: 30px;
  width: 25%;
  max-height: min-content;
  margin: auto;
  padding: 10px;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  opacity: 100%;
  z-index: 1;
  text-align: center;
}

.collection-button {
  background-color: white;
  border-radius: 15px;
}

.collection-button:hover {
  background-color: #60495A;
  color: white;
}

/*          PROFILE PAGE           */

